/* MENU DE NAVEGACION */
.navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00996F), to(#00C892));
  background-image: linear-gradient(#00996F, #00C892);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  text-shadow: 1px 2px 2px black;
  margin: 0 1.5rem;
  font-size: 1.2rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #FFE411;
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dropdown-menu {
  background-color: #00B66D;
  font-size: large;
}

/* PORTADA */
header {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

header img {
  width: 100%;
  margin: 4rem 0rem;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3rem;
  padding: 3rem 0;
  font-size: 5.5rem;
  color: white;
  text-shadow: 1px 2px 2px black;
}

@media only screen and (max-width: 1024px) {
  header h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 576px) {
  header h1 {
    margin: 0;
    padding: 0 0 1rem;
    font-size: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .header__img__icowp {
  position: fixed;
  width: 100px;
  bottom: -90px;
  right: -30px;
  z-index: 2;
}

@media only screen and (max-width: 425px) {
  header .header__img__icowp {
    width: 70px;
    bottom: -50px;
    right: 0px;
  }
}

header .header__img__icoinsta {
  position: fixed;
  width: 100px;
  bottom: 0px;
  right: -30px;
  z-index: 2;
}

@media only screen and (max-width: 425px) {
  header .header__img__icoinsta {
    width: 70px;
    bottom: 15px;
    right: 0px;
  }
}

/* SECCIONES */
.section__almohadones {
  padding: 5rem 2rem;
  background-repeat: round;
  background-size: cover;
  background-image: url(../img/background1.jpg);
}

.section__almohadones .section__img {
  text-align: center;
  padding: 3rem 0rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section__almohadones .section__p {
  background-color: rgba(0, 0, 0, 0.171);
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: black;
  font-size: 1.7rem;
  text-shadow: 1px 2px 2px lightgrey;
}

.section__almohadones .section__p .h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 2px 2px black;
}

.section__almohadones .carousel-item img {
  width: 400px;
  height: 350px;
}

.section__mantas {
  padding: 5rem 2rem;
  background-repeat: round;
  background-size: cover;
  background-image: url(../img/background2.jpg);
}

.section__mantas .section__img {
  text-align: center;
  padding: 3rem 0rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section__mantas .section__p {
  background-color: rgba(0, 0, 0, 0.171);
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: black;
  font-size: 1.7rem;
  text-shadow: 1px 2px 2px lightgrey;
}

.section__mantas .section__p .h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 2px 2px black;
}

.section__mantas .carousel-item img {
  width: 400px;
  height: 350px;
}

.section__nidos {
  padding: 5rem 2rem;
  background-repeat: round;
  background-size: cover;
  background-image: url(../img/background1.jpg);
}

.section__nidos .section__img {
  text-align: center;
  padding: 3rem 0rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section__nidos .section__p {
  background-color: rgba(0, 0, 0, 0.171);
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: black;
  font-size: 1.7rem;
  text-shadow: 1px 2px 2px lightgrey;
}

.section__nidos .section__p .h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 2px 2px black;
}

.section__nidos .carousel-item img {
  width: 400px;
  height: 350px;
}

.section__cojines {
  padding: 5rem 2rem;
  background-repeat: round;
  background-size: cover;
  background-image: url(../img/background2.jpg);
}

.section__cojines .section__img {
  text-align: center;
  padding: 3rem 0rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section__cojines .section__p {
  background-color: rgba(0, 0, 0, 0.171);
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: black;
  font-size: 1.7rem;
  text-shadow: 1px 2px 2px lightgrey;
}

.section__cojines .section__p .h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 2px 2px black;
}

.section__cojines .carousel-item img {
  width: 400px;
  height: 350px;
}

.section__souvenir {
  padding: 5rem 2rem;
  background-repeat: round;
  background-size: cover;
  background-image: url(../img/background1.jpg);
}

.section__souvenir .section__img {
  text-align: center;
  padding: 3rem 0rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section__souvenir .section__p {
  background-color: rgba(0, 0, 0, 0.171);
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: black;
  font-size: 1.7rem;
  text-shadow: 1px 2px 2px lightgrey;
}

.section__souvenir .section__p .h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 2px 2px black;
}

.section__souvenir .carousel-item img {
  width: 400px;
  height: 350px;
}

.section__baberos {
  padding: 5rem 2rem;
  background-repeat: round;
  background-size: cover;
  background-image: url(../img/background2.jpg);
}

.section__baberos .section__img {
  text-align: center;
  padding: 3rem 0rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section__baberos .section__p {
  background-color: rgba(0, 0, 0, 0.171);
  display: inline;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: black;
  font-size: 1.7rem;
  text-shadow: 1px 2px 2px lightgrey;
}

.section__baberos .section__p .h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 2px 2px black;
}

.section__baberos .carousel-item img {
  width: 400px;
  height: 350px;
}

/* PIE DE PAGINA */
footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00996F), to(#00C892));
  background-image: linear-gradient(#00996F, #00C892);
}

footer p {
  color: white;
  font-weight: bold;
  text-shadow: 1px 2px 2px black;
  margin: 0;
}

/* COMO COMPRAR */
.img-fluid {
  width: 50%;
  margin: 1rem;
}

header h2 {
  color: white;
  text-shadow: 1px 2px 2px black;
  margin: 1rem 0;
}

header p {
  background-color: rgba(0, 0, 0, 0.171);
  display: inline;
  -ms-flex-item-align: center;
      align-self: center;
  color: black;
  font-size: 1.7rem;
  text-shadow: 1px 2px 2px lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2rem;
}

/*  CONTACTO  */
.header__form {
  padding: 3rem 3rem;
  text-align: center;
  color: black;
  text-shadow: 1px 2px 2px white;
  font-size: 1.5rem;
}

.header__form .form-row {
  background-color: rgba(0, 0, 0, 0.171);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__form .btn {
  background-color: #FFE411;
  color: black;
  font-size: 1.5rem;
  border-color: #FFE411;
  margin: 1rem;
  width: 7rem;
}
/*# sourceMappingURL=style.css.map */